<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
<div class="col-5" style="margin-top: 15%; margin-left: 30%">
    <div class="container">

        <div class="card bg-dark">
            <div class="card-header bg-info text-center text-white">
                <h3>Registrar Serie</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/serie/save}" method="POST" id="serieForm">
                    <div class="row">
                        <div class="col-2">
                            <label for="nombre_serie"><b>Nombre</b></label>
                        </div>
                        <div class="col-4">
                            <input type="text" name="nombre_serie" id="nombre_serie"
                                   class="form-control" />
                        </div>
                    </div> <br/>
                    <div class="row">
                        <div class="col-2">
                            <label for="marca"><b>Marca</b></label>
                        </div>
                        <div class="col-4">
                            <input type="text" name="marca" id="marca"
                                   class="form-control" />
                        </div>
                    </div> <br/>
                    <button type="submit" class="offset-3 btn btn-success">Guardar Serie <i class="fa fa-plus-square" aria-hidden="true"></i></button>
                    <a th:href="@{/serie/getAllSeries}" class= "btn btn-primary">Listado Series</a>
                </form>
            </div>
            <div th:if="${message!=null}"  class="card-footer bg-white text-info">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div> </div>
</body>
</html>